$main-font: "Inter", sans-serif;
$bigScreen: 1440px;
$ipadPro: 1200px;
$ipad: 992px;
$mobile: 512px;
$small: 360px;

@mixin big-screen {
  @media only screen and (min-width: #{$bigScreen}) {
    @content;
  }
}
@mixin large-screen {
  @media only screen and (max-width: #{$ipadPro}) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (max-width: #{$ipad}) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin smaller-screen {
  @media only screen and (max-width: #{$small}) {
    @content;
  }
}

.pagination-box {
  padding: 10px 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  @include small-screen() {
    padding: 10px;
  }
}

.btn-control {
  border: none;
  font-family: $main-font;
  font-size: 0.8rem;
  background: none;
  color: #333333;
  font-weight: 500;
  padding: 0px 10px;
}

.btn-active {
  font-family: $main-font;
  font-size: 0.8rem;
  padding: 2px 5px;
  color: #333333;
}
.pages {
  color: #333333;
  font-family: $main-font;
  font-size: 0.9rem;
  margin-left: 5px;
}
