$main-font: "Inter", sans-serif;
$bigScreen: 1440px;
$ipadPro: 1200px;
$ipad: 992px;
$mobile: 512px;
$small: 360px;

@mixin big-screen {
  @media only screen and (min-width: #{$bigScreen}) {
    @content;
  }
}
@mixin ipad-pro {
  @media only screen and (max-width: #{$ipadPro}) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (max-width: #{$ipad}) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin smaller-screen {
  @media only screen and (max-width: #{$small}) {
    @content;
  }
}

.App {
  min-height: 99vh;
  background-color: #fff;
}

.w-60 {
  width: 60%;
  margin-top: 10px;
  @include small-screen() {
    width: 100%;
    margin-top: 0;
  }
}
.w-40 {
  width: 40%;
  margin-top: 10px;
  @include small-screen() {
    width: 100%;
  }
}

.w-30 {
  width: 30%;
}

.p-10 {
  padding: 10px;
}
.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

button {
  cursor: pointer;
}
