$main-font: "Inter", sans-serif;

$bigScreen: 1440px;
$ipadPro: 1200px;
$ipad: 992px;
$mobile: 512px;
$small: 360px;

@mixin big-screen {
  @media only screen and (min-width: #{$bigScreen}) {
    @content;
  }
}
@mixin large-screen {
  @media only screen and (max-width: #{$ipadPro}) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (max-width: #{$ipad}) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin smaller-screen {
  @media only screen and (max-width: #{$small}) {
    @content;
  }
}
.card-item {
  height: 229px;
  width: 355px;
  margin: 20px 0px;
  border-radius: 2px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  @include large-screen() {
    width: 400px;
  }
  @include medium-screen() {
    width: 355px;
  }
  &:hover {
    transform: scale(1.02);
  }
}

.sec-one {
  background-color: #fff;
  padding: 10px 15px;
  height: 85%;
  & h4 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 30px;
    color: #333447;
  }
  & p {
    color: #3f3e3e;
    font-size: 1rem;
    line-height: 17px;
  }
}

.sec-two {
  height: 15%;
  background: #f9f9f9;
  padding: 5px 15px;
  & .card-link {
    text-decoration: none;
    color: #08bd37;
    font-size: 1rem;
    line-height: 17px;
  }
}
