$main-font: "Inter", sans-serif;

$bigScreen: 1440px;
$ipadPro: 1200px;
$ipad: 992px;
$mobile: 512px;
$small: 360px;

@mixin big-screen {
  @media only screen and (min-width: #{$bigScreen}) {
    @content;
  }
}
@mixin large-screen {
  @media only screen and (max-width: #{$ipadPro}) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (max-width: #{$ipad}) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin smaller-screen {
  @media only screen and (max-width: #{$small}) {
    @content;
  }
}

.banner-container {
  background: #fff4ea;
  text-align: center;
  padding: 20px 15px;
  margin-top: 10px;
  & .fas {
    color: #fc830a;
    padding: 5px;
    font-size: 1.4rem;
  }
  & span {
    font-family: $main-font;
    color: #252525;
    font-size: 0.9rem;
  }
  @include medium-screen() {
    padding: 10px;
  }
}
